body {
  font-weight: 900;
  font-family: Montserrat;
}

h1 {
  font-family: 'Montserrat black';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "montserrat black";
  font-size: 1.2rem;
}

p {
  color: #8f8f8f;
}

/********************title********************/

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 5%;
}

.btn-dark {
  margin: 50px 20px 50px 0;
}

.btn-outline-light {
  margin: 50px 20px 50px 0;
}

.Title-img {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right:25%;
}

/******************** navbar ********************/

.navbar-brand {
  font-family: ubuntu;
  font-size: 3rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

/********************* feature-box*********************/
#features {
  padding: 7% 15%;
  background-color: white;
  position:relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/********************* testimonal section *********************/
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}


/********************* pricing section *********************/

#pricing {
  padding:100px;
  text-align: center;
}

.pricing-column {
  padding:3% 2%;
}

/*********************call to action section *********************/

#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  line-height: 1.5;
  text-align: center;
}

.cta-heading {
  font-size: 3.5rem;
  color:#fff;
}

.cta-button {
  margin-bottom: 70px;
}

/*********************credits section *********************/
#footer {
  padding: 7% 15%;
  text-align: center;
}

.footer-icon {
  margin: 20px 10px;
}

/*********************media section *********************/

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .Title-img {
    position:static;
    transform: rotate(0);
  }
}
